<h1>Questions#answer</h1>

<div class="answer">
  <p><strong>You : </strong><%= @question %></p>
  <p><strong>Teacher : </strong><%= @answer %></p>
</div>

<%= link_to 'Back to question', ask_path %>
